*{
    padding: 0;
    margin: 0;
    font-family: 'Syncopate', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
span {
    color: #EEF36A;
}
h1{
        color: #EEF36A;
        margin: 20px 0px 20px;
        font-size: 90px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
h2 {
    color: #EEF36A;
    font-size: 35px;
}
h3{
        color: #F92A82;
        font-size: 30px;
    }
h5{
        color: #F92A82;
        font-size: 20px;
    }
.hero {
    height: 100vh;
    width: 100%;
    background-color: #6610F2;
}
.content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
}
.circle {
  height: 600px;
  position: absolute;
  width: 600px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  background-image: url(../The\ Music\ Library/music.jpg);
  border-style: double;
  border-color: #EEF36A;
  
}
.circle:hover {
    animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }  
.hero-headline {
    z-index: 50;
}
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #EEF36A;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #EEF36A;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after {
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll-down {
0% {
    opacity: 0;
}
30% {
    opacity: 1;
}
60% {
    opacity: 1;
}
100% {
    opacity: 0;
    top: 90%;
}
}
#sec-2 {
    background-color: #6610F2;
}
.images {
    display: grid;
    gap: 50px 48px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
  }

  .box {
    position: relative;  }
  
  
.images img {
    border: 2px solid #EEF36A;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #F92A82;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .4s ease;
    opacity: .8;
  }
.box:hover .overlay {
    bottom: 0;
    height: 100%;
    }
.text {
    color: #EEF36A;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;    
    cursor: pointer;
  }
.text-2 p{
    color: #EEF36A;
    font-size: 40px;
    cursor: pointer;
}
.text-2 {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    display: none;
}
.text-2 a {
    text-decoration: none;
    color: #EEF36A;
}
.text-2 a:hover {
    color: #6610F2;
    transition: .4s;
}
.hero-2 {
    height: 100vh;
    width: 100%;
    background-color: #6610F2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: default; 
}

.container {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.container-2 {
    height: 10%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    z-index: 2;
}
#first-text {
    margin-top: 35px;
}
.container-3 {
    height: 10%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    z-index: 2;
}
#fourth-text {
    margin-bottom: 20px;
}
.circle-2 {
    height: 600px;
    position: absolute;
    width: 600px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block; 
    border-style: double;
    border-color: #EEF36A;
    z-index: 2;
    margin: auto;
    top: 0;
    bottom: 0;
}
.circle-2:hover {
    animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }  
.circle-2>img {
    height: 594px;
    width: 594px;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
    }